@import '../../App';

.primary-fields {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  vertical-align: top;

  form {
  margin: 0px 5%;

  }
}

.recurrences{
  @include breakpoint(mobile) {
    width: 98%
  }
  @include breakpoint(tablet) {
    width: 98%
  }
  @include breakpoint(desktop) {
    width: 48%;
  }
}