@import '../../App';

.inline-block{
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}



.recurrences{
  @extend .inline-block;

  @include breakpoint(mobile) {
    width: 95%
  }
  @include breakpoint(tablet) {
    width: 95%
  }
  @include breakpoint(desktop) {
    width: 48%
  }
}