@import '../../App.module.scss';

.primary-fields {
  display: flex;
  justify-content: space-between;
  margin: 0 25%;
  vertical-align: bottom;

  @include breakpoint(mobile){
    margin: 0;
  }
}

.recurrences {
  margin: auto;
  margin-top: 0;
  
  flex-grow: 1;

  div:last-child {
    padding-right: 0;
  }

  @include breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.recurrenceTable{
  width: 100%;
  display: block;
  margin: 10px 0 10px;

  @include breakpoint(tablet) {
    display: inline-block;
    width: 49.5%;
    min-width: 350px;
    padding-right: 10px;
  }
}

.recurrences-and-chart {
  display: flex;
  flex-wrap: wrap;
}