@import '../../App.module.scss';

.inline-block{
    display: flex;
    justify-content: center;
    margin: 10px;
    vertical-align: top;
}

.primary-fields {
  display: flex;
  justify-content: space-between;
  margin: 0 25%;
  vertical-align: bottom;

  @include breakpoint(mobile){
    margin: 0;
  }
}

.recurrences {
  margin: auto;
  margin-top: 0;
  
  flex-grow: 1;

  div:last-child {
    padding-right: 0
  }

  @include breakpoint(tablet) {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
  }

  @include breakpoint(tablet) {
    min-width: 750px;
    max-width: 750px;
  }
}

.recurrenceTable{
  width: 100%;
  display: block;
  margin: 10px 0 10px;

  @include breakpoint(tablet) {
    display: inline-block;
    width: 49.5%;
    min-width: 350px;
    padding-right: 10px;
  }
}

.chart {
  background: white;
  min-width: 350px;
  width: calc(100% - 850px);
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  flex-grow: 1;
  min-height: 250px;
}

.recurrences-and-chart {
  display: flex;
  flex-wrap: wrap;
}