@import '../../App';

.inline-block{
    display: flex;
    justify-content: center;
    margin: 10px;
    vertical-align: top;
}

.primary-fields {
  display: flex;
  justify-content: space-between;
  margin: 0 25%;
  vertical-align: bottom;

  @include breakpoint(mobile){
    margin: 0 2.5%;
  }
}

.recurrences {
  @include breakpoint(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.recurrenceTable{
  width: 100%;
  display: block;
  margin: 10px 0 10px;

  @include breakpoint(desktop) {
    display: inline-block;
    width: 49.5%;
  }
}

.chart {
  background: white;
  max-height: 300px;
  min-height: 250px;
}