@import '../../App';

.inline-block{
    display: flex;
    justify-content: center;
    margin: 10px;
    vertical-align: top;
}

.primary-fields {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  vertical-align: bottom;

  form {
    margin: 0px 5%;
  }
}

.recurrences {
  @include breakpoint(desktop) {
    display: flex;
    justify-content: center;
    vertical-align: top;
    width: 100%;
    padding-right: 20px;
    margin: 0;
  }
}

.recurrenceTable{
  width: 100%;
  display: block;
  padding-bottom: 10px;

  @include breakpoint(desktop) {
    display: inline-block;
    width: 48%;
    padding-right: 20px;
  }
}