@import '../../App';

.inline-block{
    display: flex;
    justify-content: center;
    margin: 10px;
    vertical-align: top;
}

.primary-fields {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  vertical-align: bottom;

  form {
    margin: 0px 5%;
  }
}

.recurrences {
  @include breakpoint(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.recurrenceTable{
  width: 100%;
  display: block;
  margin: 10px 0 10px;

  @include breakpoint(desktop) {
    display: inline-block;
    width: 49.5%;
  }
}