@import '../../App.module.scss';

.table {
  table-layout:fixed;
  width:100%;
}

.name {
  // in fixed mode '%' is of the remaining space
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

.cost {
    min-width: 67px;
    width: 67px;
    max-width: 67px;

    @include breakpoint(tablet) {
      max-width: 90px;  
      min-width: 90px;  
      width: 90px;  
    }
}

.regularity {
  min-width: 89px;
  width: 89px;
  max-width: 89px;

  div {
    width: 100%;
  }
}

.date {
  min-width: 78px;
  width: 78px;
  max-width: 78px;

  div {
    width: 100%;
  }
}

.remove {
  min-width: 20px;
  width: 20px;
  max-width: 20px;
}

.add-button {
  display: flex;
  svg {
    margin: auto;
    padding-top: 10px;
  }
}