@import '../../App.module.scss';

.table {
  width: 100%;
  border-spacing: 2px 1px;
}

.table-container {
  margin: auto;
  width: 100%;
}

.description {
  min-width: 55px;
}

.amount { 
  min-width: 67px;
  max-width: 67px;

  @include breakpoint(desktop) {
    max-width: 80px;  
  }
}

.regularity {
  min-width: 95px;
  max-width: 95px;

  input {
    width: 100%;
  }
}

.select {
  width: 100%;
}

.date {
  min-width: 81px;
  max-width: 81px;
}

.date-picker-popper {
    div[class$="triangle"] {
      left: 80%;
  }
}

.remove {
  min-width: 24px;
  max-width: 24px;
  width: 24px;

  div, button {
    padding: 0;
  }
}

.add-button {
  display: flex;
  svg {
    margin: auto;
    padding-top: 10px;
  }
}