@import '../../App.scss';

.table-container {
  width: 100%;
  overflow: scroll;
  border: 1px solid black;
  margin: 2px;
  border-spacing: 2px 1px;

  table {
    display: flex;
    justify-content: center;
  }

  tr:nth-child(odd){background-color: #f2f2f2}
}

.table-row {
  max-height: 20px;
}

.header {
  text-align: left
}

.description {
  @include breakpoint(mobile) {
    width: 80px;
  }
  @include breakpoint(tablet) {
    width: 200px;
    
  }

  div, input {
    width: 100%;
  }
}

.cost {
  @include breakpoint(mobile) {
    width: 50px;
  }
  @include breakpoint(tablet) {
    width: 200px;
  }

  div, input {
    width: 95%;
  }
}


.regularity {
  @include breakpoint(mobile) {
    min-width: 83px;
    width: 83px;
    max-width: 83px;
  }

  select {
    width: 100%;
  }
}

.date {
  @include breakpoint(mobile) {
    width: 75px;
  }
  @include breakpoint(tablet) {
    width: 75px;
    
  }

  input {
    width: 100%;
  }
}

.remove {
  min-width: 24px;
  max-width: 24px;
  width: 24px;

  div, button {
    padding: 0;
  }
}

.button {
  margin-bottom: 10px;
}