@import '../../App.scss';

.table {
  width: 100%;
  border-spacing: 2px 1px;
}

.table-container {
  margin: auto;
}

.header {
  text-align: left;
  vertical-align: top;
}

.description {
  min-width: 55px;
  max-width: 300px;
}

.amount {
  min-width: 73px;
  max-width: 95px;
}

.regularity {
  min-width: 95px;
  max-width: 95px;
  
  @include breakpoint(tablet) {
    min-width: 105px;
    max-width: 105px;  
  }
}

.date {
  min-width: 81px;
  max-width: 81px;
}

.date-picker-popper {
    div[class$="triangle"] {
      left: 80%;
  }
}

.remove {
  min-width: 24px;
  max-width: 24px;
  width: 24px;

  div, button {
    padding: 0;
  }
}

.add-button {
  display: flex;
  svg {
    margin: auto;
    padding-top: 10px;
  }
}