@import '../../App.scss';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;

  div {
    display: inline-flex;
    width: 20%;
    min-width: 100px;
  }

  a, button {
    height: 100%;
    width: 100%;
    white-space: nowrap;
  }
}