@import '../../App.module.scss';

.navbar {
  background: #6284BB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 100px;
  min-height: 36px;

  @include breakpoint(mobile) {
    padding: 5px 10px;
  }

  div:only-child {
    margin: 0 auto;
  }

  a, button {
    background: #629EFF;
    height: 100%;
    width: 100%;
    white-space: nowrap;
  }
}

.button {
  display: inline-flex;
  div, button {
    width: 20%;
    min-width: 100px;
  }
}
