@import '../../App.module.scss';

.navbar {
  background: #6284BB;
}

.navbar-children {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: auto;

  a, button {
    background: #629EFF;
    height: 100%;
    width: 100%;
    white-space: nowrap;
  }

  div:only-child {
    margin: 0 auto;
  }

  padding: 5px;

  @include breakpoint(tablet) {
    width: 99%;
  }
  @include breakpoint(desktop) {
    width: 80%;
  }
}

.button {
  display: inline-flex;
  div, button {
    width: 20%;
    min-width: 100px;
  }
}
