@mixin breakpoint($class) {
  @if $class == mobile {
    @media (max-width: 767px) { @content; }
  }
  @else if $class == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $class == desktop {
    @media (min-width: 992px) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: mobile, tablet, desktop";
  }
}

html, body {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  font-family: sans-serif;
  background-color: #a0c1f7;
  margin:0;
  padding:0;
}

.app-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  text-align: center;
  font-size: 1.5em;
  padding: 10px 0 5px;
  margin: 0;
  background: #3568ba;
  color: white;
}

.content {
  background-color: #a0c1f7;
  padding: 10px 10px;

  @include breakpoint(mobile) {
    padding: 10px 5px;
  }
}

.active {
  background-color: #0099FF;
}