@mixin breakpoint($class) {
  @if $class == mobile {
    @media (max-width: 767px) { @content; }
  }
  @else if $class == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $class == desktop {
    @media (min-width: 992px) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: mobile, tablet, desktop";
  }
}

.app-container {

}

.app-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  text-align: center;
  font-size: 1.5em;
  padding: 10px 0 5px;
  margin: 5px 0 5px;
  
  @include breakpoint(mobile) {
    background: white;
  }
  @include breakpoint(tablet) {
    background: pink;
  }
  @include breakpoint(desktop) {
    background: yellow;
  }
}

body {
  background-color: #a0c1f7;
  padding: 0px;
  min-width: 320px;
  font-family: sans-serif;
}

.content {
  background-color: #FFF;
  padding: 10px;
}

.active {
  background-color: #0099FF;
}